<div class="keyboard-hint" ng-if="!hintInfo.isMobile">
    <a href class="am-icon-btn am-icon-arrow-left" ng-class="{disabled: !hintInfo.canPrev}" ng-click="prev($event)"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href class="am-icon-btn am-icon-arrow-right" ng-class="{disabled: !hintInfo.canNext}" ng-click="next($event)"></a>
</div>

<div class="mobile-hint" ng-if="hintInfo.isMobile">
    <div class="up" ng-if="hintInfo.canPrev">
        <a href class="am-icon-angle-double-up am-icon-lg" ng-click="prev($event)"></a>
    </div>
    <div class="down" ng-if="hintInfo.canNext">
        <a href class="am-icon-angle-double-down am-icon-lg" ng-click="next($event)"></a>
    </div>
</div>