<section class="am-u-sm-12 am-u-md-8 am-u-lg-7 am-u-md-centered am-u-lg-centered">
        <h1>Not only "JavaScript"</h1>
        <table class="am-table am-table-bordered am-table-hover">
            <thead>
                <tr>
                    <th>Lang</th>
                    <th>Style</th>
                    <th>Website</th>
                </tr>
            </thead>
            <tbody>
                <tr class="am-primary">
                    <td>Dart</td>
                    <td>C style</td>
                    <td><a href="https://code.google.com/p/dart/">Google Code</a></td>
                </tr>
                <tr class="am-success">
                    <td>Coffee Script</td>
                    <td>Ruby | Python style</td>
                    <td><a href="http://coffeescript.org/">Coffee Script</a></td>
                </tr>
                <tr class="am-primary">
                    <td>Patrisika</td>
                    <td>AST | Lisp style</td>
                    <td><a href="https://github.com/be5invis/patrisika">Patrisika</a></td>
                </tr>
            </tbody>
        </table>
</section>